# Binaries and Objects
/bin
/build
/vs

# Installer Artifacts
installers/*.msi
installers/*.wixobj
installers/*.wixpdb
installers/*.pkg
installers/linux/build_deb/
installers/macos/build_macos/
installers/macos/payload/
dist/
